{{if eq .Domain "localhost"}}http://localhost{{else}}{{.Domain}}{{end}} {
    reverse_proxy kmp-app:80

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    encode gzip

    log {
        output file /data/access.log
    }
}
