<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true">

    <testsuites>
        <testsuite name="Template Plugin Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
