@import 'bootstrap.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'bootstrap-icon-sizes.css';
@import 'dashboard.css';

.sublink.nav-link {
    padding-bottom: 0;

}

.appnav {
    line-height: 1 !important;
}

.appnav .fs-7 {
    font-size: 0.9rem;
}

.danger td {
    background-color: #f2dede !important;
}

div:has(#reportsDepartmentsList) {}